.curso_section {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;

    color: white;
    padding: 0px;
}

.curso_section#corte_dobra_repuxo {
    background-image: url(../img/bg_corte_dobra_repuxo.png);
    background-position-x: left -125px;
}

.curso_section#molde_plastico {
    background-image: url(../img/bg_moldes_plastico.png);
    background-position-x: right -125px;
}

.curso_section .titulo_container {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.curso_section h2 {
    width: 480px;
    font-size: 2.75rem;
    font-weight: 700;

    padding-top: 6.25rem;
}

.curso_section#molde_plastico h2 {
    text-align: right;
}

.curso_section .conteudo_container {
    width: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3rem;

    padding: 3.5rem 0px;
}

.curso_section .conteudo_container iframe {
    border-style: solid;
    border-color: gray;

    width: 500px;
    height: 350px;
}

.curso_section .conteudo_container p {
    width: 500px;
    font-size: 1.25rem;
    text-align: justify;
}

.curso_section#corte_dobra_repuxo .conteudo_container {
    background-image: linear-gradient(to left, #111f 95%, #1110);
}

.curso_section#molde_plastico .conteudo_container {
    background-image: linear-gradient(to right, #111f 95%, #1110);
}

.curso_section .btn {
    width: 200px;
    height: 50px;
    background-image: linear-gradient(to left, #eee, #ccc);

    color: #111;
    text-decoration: none;
    font-size: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    overflow: hidden;
}

.curso_section .btn::before {
    content: "";
    position: absolute;

    height: 75px;
    width: 20px;

    background-color: #fff;
    box-shadow: 0px 0px 12px #fff;
    filter: blur(1px);
    opacity: 0.9;

    transform: rotate(-20deg) translate(-120px, -40px);

    transition: transform 0.5s ease-out;
}

.curso_section .btn:hover::before {
    transform: rotate(-20deg) translate(120px, 40px);
}

@media (max-width: 1024px) {
    .curso_section .conteudo_container iframe {
        width: 350px;
        height: 245px;
    }

    .curso_section .conteudo_container p {
        width: 350px;
    }

    .curso_section h2 {
        width: 380px;
    }
}

@media (max-width: 900px) {
    .curso_section {
        flex-direction: column;
    }

    .curso_section#molde_plastico {
        flex-direction: column-reverse;
    }

    .curso_section .titulo_container h2,
    .curso_section#molde_plastico h2 {
        text-align: center;
        font-size: 2.25rem;
    }

    .curso_section .titulo_container {
        background-color: #111;
    }

    .curso_section .conteudo_container {
        width: 100%;
        background-color: #111;
        padding-bottom: 100px;
    }
}

@media (max-width: 480px) {
    .curso_section .titulo_container h2,
    .curso_section#molde_plastico h2 {
        text-align: center;
        font-size: 2rem;

        width: 300px;
    }

    .curso_section .conteudo_container iframe {
        width: 300px;
        height: 210px;
    }

    .curso_section .conteudo_container p {
        width: 300px;
    }
}
