.curso_section {
	background-image: url(/img/bg_corte_dobra_repuxo.png);
	background-size: contain;
	background-position: bottom left;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: darken;

	display: flex;
	flex-direction: row;

	color: white;
}

.curso_section .titulo_container {
	width: 50%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.curso_section .titulo_container h2 {
	width: 500px;
	font-size: 3.5rem;
	font-weight: 700;

	padding-top: 6.25rem;
}

.curso_section .conteudo_container {
	width: 50%;
	background-color: #111;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 3.5rem;

	padding: 3.5rem 0px;

	box-shadow: -0px 0px 64px rgba(0, 0, 0, 0.4);
}

.curso_section .conteudo_container iframe {
	border-style: solid;
	border-color: gray;

	width: 500px;
	height: 350px;
}

.curso_section .conteudo_container p {
	width: 31.25rem;
	font-size: 1.5rem;
}
