.escola_section {
  background-size: cover;
  background-color: rgb(17, 17, 17);
  background-blend-mode: darken;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 100px;

  color: white;
}

.escola_section h1 {
  
  text-align: left;
}

h2.titulo_escola > img {
  width: 1.8rem;
}

.escola_section .escola_container {
  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 1rem;

  padding: 3.5rem 0px;
}

.escola_section #escola {
  border-style: solid;
  border-color: gray;

  width: 500px;
  height: 350px;

}

.escola_section .escola_container span {
  width: 400px;
  font-size: 1.25rem;
  text-align: justify;
  
  margin-left: 32px;
  
}
