@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

	font-family: "Open Sans", sans-serif;
}

section {
	width: 100vw !important;
	min-height: 100vh;

	position: relative;

	/* padding: 150px 0px; */
}

body {
	max-width: 100% !important;

	background: #111;
}
