section > .separador {
	z-index: 1;

	position: absolute;
	bottom: -64px;

	/* transform: translate(-50%, -50%); */

	width: 128px;

	animation: rotate 2s linear infinite;
}

section > .separador#left_side {
	left: 0px;
}

section > .separador#right_side {
	right: 0px;
}

@keyframes rotate {
	0% {
		transform: /*translate(-50%, -50%)*/ rotate(0deg);
	}

	100% {
		transform: /*translate(-50%, -50%)*/ rotate(180deg);
	}
}
